body {
    margin: 0px !important;
    padding: 0% !important;
    font-family: "IBM Plex Mono", monospace;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texto {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.content-hoja {
position: absolute;
transform: translate(-50%, -50%);
top: 0%;
left: 50%;
z-index: -1;
width: 462px;
}

.hoja {
    width: 100%;
}

.texto {
    max-width: 400px;
    background-color: #FAF5C5;
    padding: 10px;
    margin-top: 70px;
    position: relative;
}

.texto span {
    text-align: center;
}

.text-center {
    text-align: center;
}

.container {
    position: relative;
}
.imagen {
    position: fixed;
    z-index: -10;
    object-fit: cover;
    top: 0px;
}
.img-fondiu {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.velo {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

.ibm-font {
    font-family: "IBM Plex Mono", monospace;
}